body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 20px;
    color: #536878;
}

label {
    font-size: 25px;
    color: #367588;
    width: 120px;
    display: inline-block;
}

input {
    position: relative;
    left: 50px;
}

li {
    list-style-type: none;
    font-size: 25px;
    color: #367588;
}

img {
    width:400px
}

p{
    font-size: 30px
}

a {
    color: #367588;
    font-size: 30px;
}